#logo {
	background-color: #FAFAFA;
}

#velos_logo {
	width: 50px;
	height: 30px;
}

li {
	line-height: 30px !important;
}

.accordion1,.accordion {
	width: 95% !important;
	float: left !important;
	margin-top: 131px !important;
	margin-left: 2.5em !important;
	margin-bottom: -113px !important;
}

/* .accordion2{
	width: 93% !important;
	float: left !important;
	margin-top: 131px !important;
	margin-left: 2.5em !important;
	margin-bottom: -113px !important;	
} */
form {
	margin: 27px 0 20px !important;
}

.form-horizontal .control-label {
	float: left;
	text-align: right;
	width: 173px;
}

#scheduleOfEventsTable {
	width: 1100px !important;
}

#patientListTable,#studyListTable {
	width: 1100px !important;
}

button.btn {
	margin-bottom: -7px !important;
	margin-left: -28px;
}

#other_info {
	padding-left: -28px;
}

.span6 {
	width: 464px !important;
}

.span4 {
	width: 332px !important;
}

.span3 {
	width: 130px !important;
}

.span2 {
	width: 191px !important;
}

.span1 {
    width: 131px !important;
}
.patientCanvasFields {
	margin-left: 0px;
}

button.btn {
	margin-bottom: -18px;
	margin-left: -28px;
}

/*For not*/
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
	{
	width: auto !important;
}

.navbar-inner {
	background-color: #FAFAFA;
	background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
	background-repeat: repeat-x;
	border: 1px solid #D4D4D4;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	min-height: 40px;
	padding-left: 5px !important;
	padding-right: 20px;
}

/*custom buttons....yeahyah!!*/
.btn-lima {
	background-color: hsl(145, 62%, 68%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd",
		endColorstr="#7adfa4");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd),
		to(#7adfa4));
	background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
	background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd),
		color-stop(100%, #7adfa4));
	background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
	background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
	background-image: linear-gradient(#cdf3dd, #7adfa4);
	border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
	color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
	-webkit-font-smoothing: antialiased;
}

/*seriously...this is how it is called :)*/
.btn-india {
	background-color: hsl(214, 37%, 28%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1",
		endColorstr="#2c4361");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#7a99c1),
		to(#2c4361));
	background-image: -moz-linear-gradient(top, #7a99c1, #2c4361);
	background-image: -ms-linear-gradient(top, #7a99c1, #2c4361);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1),
		color-stop(100%, #2c4361));
	background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361);
	background-image: -o-linear-gradient(top, #7a99c1, #2c4361);
	background-image: linear-gradient(#7a99c1, #2c4361);
	border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
	-webkit-font-smoothing: antialiased;
}

.btn-oscar {
	background-color: hsl(70, 11%, 23%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b7f66",
		endColorstr="#3e4134");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#7b7f66),
		to(#3e4134));
	background-image: -moz-linear-gradient(top, #7b7f66, #3e4134);
	background-image: -ms-linear-gradient(top, #7b7f66, #3e4134);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7b7f66),
		color-stop(100%, #3e4134));
	background-image: -webkit-linear-gradient(top, #7b7f66, #3e4134);
	background-image: -o-linear-gradient(top, #7b7f66, #3e4134);
	background-image: linear-gradient(#7b7f66, #3e4134);
	border-color: #3e4134 #3e4134 hsl(70, 11%, 17.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
	-webkit-font-smoothing: antialiased;
}

.btn-sea {
	background-color: hsl(86, 79%, 44%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#daf6b5",
		endColorstr="#7cc817");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#daf6b5),
		to(#7cc817));
	background-image: -moz-linear-gradient(top, #daf6b5, #7cc817);
	background-image: -ms-linear-gradient(top, #daf6b5, #7cc817);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #daf6b5),
		color-stop(100%, #7cc817));
	background-image: -webkit-linear-gradient(top, #daf6b5, #7cc817);
	background-image: -o-linear-gradient(top, #daf6b5, #7cc817);
	background-image: linear-gradient(#daf6b5, #7cc817);
	border-color: #7cc817 #7cc817 hsl(86, 79%, 34%);
	color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.66);
	-webkit-font-smoothing: antialiased;
}

.btn-kanchan {
	background-color: hsl(0, 100%, 82%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fecccc",
		endColorstr="#fea3a3");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#fecccc),
		to(#fea3a3));
	background-image: -moz-linear-gradient(top, #fecccc, #fea3a3);
	background-image: -ms-linear-gradient(top, #fecccc, #fea3a3);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fecccc),
		color-stop(100%, #fea3a3));
	background-image: -webkit-linear-gradient(top, #fecccc, #fea3a3);
	background-image: -o-linear-gradient(top, #fecccc, #fea3a3);
	background-image: linear-gradient(#fecccc, #fea3a3);
	border-color: #fea3a3 #fea3a3 hsl(0, 100%, 80%);
	color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
	-webkit-font-smoothing: antialiased;
}

.btn-julia {
	background-color: hsl(41, 85%, 35%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efb73d",
		endColorstr="#a5750d");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#efb73d),
		to(#a5750d));
	background-image: -moz-linear-gradient(top, #efb73d, #a5750d);
	background-image: -ms-linear-gradient(top, #efb73d, #a5750d);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efb73d),
		color-stop(100%, #a5750d));
	background-image: -webkit-linear-gradient(top, #efb73d, #a5750d);
	background-image: -o-linear-gradient(top, #efb73d, #a5750d);
	background-image: linear-gradient(#efb73d, #a5750d);
	border-color: #a5750d #a5750d hsl(41, 85%, 29%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
	-webkit-font-smoothing: antialiased;
}

#calendar {
	width: 1000px;
	margin: 4em auto;
}

#banner {
	background-color: #FAFAFA;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px 3px #DDDDDD;
	float: right;
	height: 16px;
	margin: 39px 0 0 11px;
	padding: 7px;
	position: fixed;
	width: 97%;
	z-index: 500;
}

#breadcrumb {
	background-color: #FAFAFA;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 5px 3px #DDDDDD;
	float: left;
	height: 31px;
	margin: 4px 11px;
	/* padding: 2px; */
	width: 98%;
	position: fixed;
}

#breadcrumb li {
	display: inline-block;
	text-shadow: 0 1px 0 #ffffff;
}

#breadcrumb .divider {
	padding: 0 5px;
	color: #999999;
}

#breadcrumb .active a {
	color: #333333;
}
.searchbar{
	text-align: center;
	
}
#ad_search{
	
	
}
.search_panel {
	width: 338px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	color: #000000;
	border-radius:4px;
}

hr {
	color: #FFFFFF;
}

#sp_button{
	margin-left: 248px;
}